.result{
    width: 100%;
    height: 45px;
    margin: 5% 0;
}
.main{
    width: 40rem;
    margin: 5% auto;
    
}
.clearbtn{
    margin : 15px 10px;
    width: 100%;
}
.number-btn{
    width: 100%;
    margin: 25px 10px;
}
.equal-btn{
    width: 100%;
    margin: 25px 11px;
}
td{
    width: 30%;
}